{% extends "../index.twig" %}

{% block page %}
    <div class="page-header">
        <h1>{{module.about.name}} <small>{{module.about.description}}</small></h1>
    </div>
    
    {% for watch in watchers %}
        {% include 'watch/watch.twig' with {watch: watch} %}
    {% endfor %}
    
    {% include 'module/table.twig' with {table: table} %}
{% endblock %}