<table class="table table-bordered table-condensed">
    <tr>
        {% for title in table.names %}
            <th>{{title}}</th>
        {% endfor %}
    </tr>
    {% for row in table.values %}
    <tr>
        {% for value in row %}
            <th>
                {% if value.names %}
                    {% include 'module/table.twig' with {table: value} %}
                {% else %}
                    {{value}}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>