<div class="watch-view col-sm-{{watch.options.view.gridWidth}}">
    <h3>{{watch.options.view.title}}</h3>
    <div class="watch-container" style="width: {{watch.options.view.width}}; height: {{watch.options.view.height}}">
        <div id="watch-{{watch.getId()}}" class="watch-plot"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        watchChart("#watch-{{watch.getId()}}", "{{watch.getId()}}", {
            grid: {
                borderWidth: 1,
                minBorderMargin: 20,
                labelMargin: 10,
                backgroundColor: "{{watch.options.view.background}}"
            },
            xaxis: {
                tickFormatter: function() {
                    return "";
                }
            },
            yaxis: {
                min: 0,
                max: {{watch.options.view.maxValue ? watch.options.view.maxValue : 'null'}}
            },
            legend: {
                show: true
            },
            series: {
                lines: {
                    fill: {{watch.options.view.fill == "yes" ? 'true' : 'false'}}
                }
            },
            colors: ["{{watch.options.view.colour}}"]
        }, {{watch.options.view.updateInterval}});
    });
</script>