{% extends "layout.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="modules-list">
            <ul class="nav nav-pills nav-stacked">
                {% for moduleElement in modules %}
                    <li role="presentation" {% if moduleElement.route == module.route %} class="active"{% endif %}>
                        <a href="/module/{{moduleElement.route}}">{{moduleElement.about.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="page-content">
            {% block page %}
            {% endblock %}
        </div>
    </div>
{% endblock %}